.header{
    background-color: hsl(0, 0%, 15%, 0%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hamburger-react{
    display: none;
    margin-right: 20px;
    border-radius: 8px;

}

.discordLogo{
    padding-right: 1px ;
    width: 18px;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.hidden{
    display: flex;
}

.logo{
    height: 50px;
    margin-left: 10px;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    text-decoration: none;
    color: rgb(116, 9, 9);
    letter-spacing: 0.2rem;
    -webkit-text-stroke-width: 0px; /* largura da borda */
    -webkit-text-stroke-color: #000; /* cor da borda */

}

.links{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 10px;
}

.user{
    align-items: center;
    justify-content: right;
    color: #cac8c8;
    margin-left: 0px;
    padding-left: 0px;
    width: 30%;
    font-size: 20px;
    text-decoration: none;
    color: #cac8c8;
    padding: 5px;
    font-family:'Times New Roman', Times, serif;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.userMobile{
    display: none;
}

.user img{
    width: 30%;
    border-radius: 100%;
    margin-left: 10px;
}

.links a{
    font-size: 30px;
    text-decoration: none;
    color: #cac8c8;
    padding: 5px;
    font-family:'Times New Roman', Times, serif;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.hidden{
    padding-right: 10px;
}
.linksHid a{
    font-size: 20px;
    text-decoration: none;
    color: #cac8c8;
    padding: 5px;
    font-family:'Times New Roman', Times, serif;
}

.logoMobile{
    display: none;
    text-decoration: none;
    color: rgb(116, 9, 9);

}



@media (max-width: 540px) {
    
    .links{
        display: none;
    }

    .logo{
        display: none;
        text-decoration: none;

    }

    .mobileHead{
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

    }

    .menuBut{
        position: absolute;
        top: 0;
        right: 0;

    }


    .logoMobile{
        display:initial;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        opacity: 60%;
        margin-left: 13%;
        text-decoration: none;
        color: rgb(168, 0, 0);

    }

    .hidden{
        position: absolute;
        right: 0px;
        top:60px;
        height: 50px;
        width: 100%;
        background-color: #272727;;
        display: flex;
        justify-content: center;
        padding: 0;
    }

    .linksHid {
        padding-top: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .linksHid a{
        text-decoration: none;
        color:#cac8c8;
    }
    .user{
        width: 40%;
    }


}